* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    color: white;
    height: 350px;
    background-image: url("../images/101.png");
    background-size: cover;
    padding-top: 30px;
    text-align: center;
}
.nav-list{
    list-style-type: none;
}
.nav-item {
    display: inline-block;
    padding: 10px;
    margin-bottom: 60px;
    font-size: 20px;
}
.nav-item:hover{
    color: aquamarine;
}
.title {
    font-size: 60px;
    width: 900px;
    height: 105px;
    line-height: 105px;
    background-color: rgba(31, 46, 62, 0.5);
    border-radius: 10px;
    margin: auto;
}
.xal {
    color: rgb(212, 12, 12);
}
.members {
    text-align: center;
    padding: 30px;
}
.mem-list {
    list-style-type: none;
    margin-top: 20px;
}
.mem-item {
    width: 280px;
    background-color: rgb(63, 135, 183);
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 15px #bbbbbb;
    border-radius: 10px;
}
.mem-pic {
    width: 100%;
}
.mem-name {
    padding: 20px;
    margin-top: 5px;
}
.mem-bio {
    padding: 20px;
    text-align: justify;
}

.about {
    height: 700px;
    background-image: url("../images/101.png");
    background-size: cover;
    padding-top: 50px;
    color: rgb(127, 4, 6);
}
.circle {
    height: 500px;
    width: 500px;
    background-color: rgba(10, 150, 31, 0.5);
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 120px 100px;
}
.circle h2 {
    font-size: 40px;
}
.circle p {
    margin-top: 40px;
    text-align: justify;
}

.footer {
    height: 40px;
    background-color: #333333;
    text-align: center;

}
.footer img {
    width: 30px;
    margin: 5px;
}
