*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: rgb(0, 0, 7);
    height: 350px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    text-align: center;
}
.header .nav-list {
    list-style-type: none;
    
}
.header .nav-list .nav-item {
    display: inline-block; 
    padding: 10px; 
    margin-bottom: 60px; 
}
.header .nav-list .nav-item:hover {
    color: blueviolet;
}
.header h1 {
    font-size: 60px;
    width: 900px;
    height: 105px;
    background-color: rgba(39, 39, 54, 0.4);
    border-radius: 10px;
    line-height: 105px;
    margin: auto;
}
.header h1 span {
    color: red; 
    
}
.members {
    text-align: center;
    padding: 50px 30px;
}
.mem-list{
    list-style-type: none;
    margin-top: 25px;
}
.mem-item{
    width: 250px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 15px #bbb;
}
.mem-pic{
    width: 100%;
}
.mem-name {
    font-size: 25px;
    margin-top: 5px;
}
.mem-bio {
    padding: 20px;
    text-align: justify;
}