*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: rgb(227, 228, 230);
    height: 350px;
    background-image: url("../images/101.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    text-align: center;
}
.header .nav-list {
    list-style-type: none;
    
}
.header .nav-list .nav-item {
    display: inline-block; 
    padding: 10px; 
    margin-bottom: 60px; 
}
.header .nav-list .nav-item:hover {
    color: rgb(51, 207, 85);
}
.header h1 {
    font-size: 60px;
    width: 900px;
    height: 105px;
    background-color: rgba(21, 95, 179, 0.2);
    border-radius: 10px;
    line-height: 105px;
    margin: auto;
}
.header h1 span {
    color: rgb(217, 8, 8); 
    
}
.members {
    text-align: center;
    padding: 30px;
}
.mem-list{
    list-style-type: none;
    margin-top: 20px;
}
.mem-item{
    width: 250px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 15px #bbb;
    border-radius: 10px;
    background-color: rgb(63, 135, 183);
}
.mem-pic{
    width: 100%;
}
.mem-name {
    font-size: 25px;
    margin-top: 5px;
}
.mem-bio {
    padding: 20px;
    text-align: justify;
}
.about {
    height: 700px;
    background-image: url("../images/101.png");
    background-size: cover;
    padding-top: 50px;
    color: rgb(127, 4, 6);
    
}

.xelek {
    height: 500px;
    width: 500px;
    background-color: rgba(10, 150, 31, 0.5);
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding: 120px 100px;
}
.xelek h2 {
    font-size: 35px;
}
.xelek p {
    margin-top: 40px;
    text-align: justify;
}
.footer {
    height: 40px;
    background-color: #333;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer img {
    width: 30px;
    margin:5px;
}